body {
    margin: 0;
    font-family: "Archivo", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
