name: "Publish"

on:
  push:
    tags:
    - "*"
  workflow_dispatch:

jobs:
  publish-npm:
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-node@v3"
        env:
          NODE_AUTH_TOKEN: "${{ secrets.NPM_TOKEN }}"
        with:
          cache: "yarn"
          node-version: "16.x"
          registry-url: "https://registry.npmjs.org"
          scope: "@pianity"

      - name: "Install dependencies"
        run: "yarn install --immutable"

      - name: "Build packages"
        run: "yarn build"

      - name: "Publish packages to NPM"
        run: |
          yarn workspace @pianity/arsnap-adapter npm publish --access public --tolerate-republish
          yarn workspace @pianity/arsnap-compat npm publish --access public --tolerate-republish
          yarn workspace @pianity/arsnap npm publish --access public --tolerate-republish

  deploy-wallet:
    needs: publish-npm
    runs-on: "ubuntu-latest"
    steps:
      - uses: "actions/checkout@v3"
      - uses: "actions/setup-node@v3"
        with:
          cache: "yarn"
          node-version: "16.x"

      - name: "Install dependencies"
        run: "yarn install --immutable"

      - name: "Build Wallet"
        run: "yarn build-wallet"

      - name: "Deploy Wallet to the Permaweb"
        env:
          ARWEAVE_DEPLOY_KEY: "${{ secrets.ARWEAVE_DEPLOY_KEY }}"
        run: >
          yarn workspace @pianity/arsnap-wallet bundlr
          --host https://node1.bundlr.network
          --wallet ${ARWEAVE_DEPLOY_KEY}
          --index-file index.html
          upload-dir dist
